.*
!.gitignore
*.out
_*
*.log
run.sbatch

results/*

!results/get_parse_spikes.md
!results/get_parse_spikes_files
!results/spikes_metadata.csv

!results/spikes_aligned_codon.fasta
!results/spikes_aligned_prots.fasta

!results/timetree/
results/timetree/*
!results/timetree/root_to_tip_regression.pdf
!results/timetree/divergence_tree.newick
!results/timetree/timetree.newick

!results/draw_trees.md
!results/draw_trees_files
!results/tree
results/tree/*
!results/tree/timetree.pdf
!results/tree/divergence_tree.pdf
!results/tree/legend.pdf

!results/analyze_variation.md
!results/analyze_variation_files
!results/variation_analysis
results/variation_analysis/*
!results/variation_analysis/site_variability.csv
!results/variation_analysis/dms_view_metadata.md
!results/variation_analysis/domain_schematic.pdf

!results/pdbs

!results/seqs_for_expts
results/seqs_for_expts/*
!results/seqs_for_expts/n_aa_diffs.pdf
!results/seqs_for_expts/prots.fasta
!results/seqs_for_expts/*.gp

!results/gard_recomb.json
