.*
!.gitignore
*.out
_*
*.log

results/*
!results/get_parse_spikes.md
!results/get_parse_spikes_files
!results/spikes_metadata.csv
!results/spikes_aligned_codon.fasta
!results/spikes_aligned_prots.fasta
!results/spikes_iqtree.treefile
